<h3> Carbon Emission of Each Country from 1949-2017

In [1]:
#Importing all necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Loading the dataset
Emission_DF = pd.read_csv('CO2_Emissions_2017.csv')
Emission_DF.head()

,Carbon Dioxide emissions from fossil fuel consumption and cement production by nation,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,"D. Gilfillan, G. Marland, T. Boden, and R. ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Carbon dioxide emissions by country from 1751 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nation,Year,Total CO2 emissions from fossil-fuels and ceme...,Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in t...
4,AFGHANISTAN,1949,4,4,0,0,0,.,.,0

In [3]:
#Looking for the columns
Emission_DF.columns

Index(['Carbon Dioxide emissions from fossil fuel consumption and cement production by nation',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [4]:
#Looking for the shape of the dataframe
Emission_DF.shape

(17932, 10)

We have to change the data types of some columns from 'object' to 'float'

In [5]:
#Resetting the column names
Emission_DF.columns = Emission_DF.iloc[3]
Emission_DF.head()

3,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
0,"D. Gilfillan, G. Marland, T. Boden, and R. ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Carbon dioxide emissions by country from 1751 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nation,Year,Total CO2 emissions from fossil-fuels and ceme...,Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in t...
4,AFGHANISTAN,1949,4,4,0,0,0,.,.,0

In [6]:
#Deleting the unneccesary rows
Emission_DF.drop(Emission_DF.index[0:3], inplace=True)

In [7]:
Emission_DF.head()

3,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
3,Nation,Year,Total CO2 emissions from fossil-fuels and ceme...,Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in t...
4,AFGHANISTAN,1949,4,4,0,0,0,.,.,0
5,AFGHANISTAN,1950,23,6,18,0,0,0,0,0
6,AFGHANISTAN,1951,25,7,18,0,0,0,0,0
7,AFGHANISTAN,1952,25,9,17,0,0,0,0,0

In [8]:
Emission_DF.nunique()

3
Nation                                                                                      260
Year                                                                                        268
Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)    8266
Emissions from solid fuel consumption                                                      5628
Emissions from liquid fuel consumption                                                     5905
Emissions from gas fuel consumption                                                        3485
Emissions from cement production                                                           2230
Emissions from gas flaring                                                                 1334
Per capita CO2 emissions (metric tons of carbon)                                            818
Emissions from bunker fuels (not included in the totals)                                   2429
dtype: int64

In [9]:
Emission_DF.columns.name = ''

In [10]:
Emission_DF.head()

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
3,Nation,Year,Total CO2 emissions from fossil-fuels and ceme...,Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in t...
4,AFGHANISTAN,1949,4,4,0,0,0,.,.,0
5,AFGHANISTAN,1950,23,6,18,0,0,0,0,0
6,AFGHANISTAN,1951,25,7,18,0,0,0,0,0
7,AFGHANISTAN,1952,25,9,17,0,0,0,0,0

In [11]:
Emission_DF.reset_index()

,index,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
0,3,Nation,Year,Total CO2 emissions from fossil-fuels and ceme...,Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in t...
1,4,AFGHANISTAN,1949,4,4,0,0,0,.,.,0
2,5,AFGHANISTAN,1950,23,6,18,0,0,0,0,0
3,6,AFGHANISTAN,1951,25,7,18,0,0,0,0,0
4,7,AFGHANISTAN,1952,25,9,17,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
17924,17927,ZIMBABWE,2013,3176,1919,1124,0,132,0,0.24,10
17925,17928,ZIMBABWE,2014,3272,2110,1020,0,142,0,0.24,11
17926,17929,ZIMBABWE,2015,3324,2193,991,0,140,0,0.24,23
17927,17930,ZIMBABWE,2016,2953,1927,866,0,160,0,0.21,39
17928,17931,ZIMBABWE,2017,2824,1742,896,0,186,0,0.2,52

In [12]:
Emission_DF.drop(Emission_DF.index[0])

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
4,AFGHANISTAN,1949,4,4,0,0,0,.,.,0
5,AFGHANISTAN,1950,23,6,18,0,0,0,0,0
6,AFGHANISTAN,1951,25,7,18,0,0,0,0,0
7,AFGHANISTAN,1952,25,9,17,0,0,0,0,0
8,AFGHANISTAN,1953,29,10,18,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
17927,ZIMBABWE,2013,3176,1919,1124,0,132,0,0.24,10
17928,ZIMBABWE,2014,3272,2110,1020,0,142,0,0.24,11
17929,ZIMBABWE,2015,3324,2193,991,0,140,0,0.24,23
17930,ZIMBABWE,2016,2953,1927,866,0,160,0,0.21,39
17931,ZIMBABWE,2017,2824,1742,896,0,186,0,0.2,52

In [13]:
Emission_DF.columns

Index(['Nation', 'Year',
       'Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)',
       'Emissions from solid fuel consumption',
       'Emissions from liquid fuel consumption',
       'Emissions from gas fuel consumption',
       'Emissions from cement production', 'Emissions from gas flaring',
       'Per capita CO2 emissions (metric tons of carbon)',
       'Emissions from bunker fuels (not included in the totals)'],
      dtype='object', name='')

In [14]:
Emission_DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17929 entries, 3 to 17931
Data columns (total 10 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Nation                                                                                   17929 non-null  object
 1   Year                                                                                     17929 non-null  object
 2   Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C)  17929 non-null  object
 3   Emissions from solid fuel consumption                                                    17929 non-null  object
 4   Emissions from liquid fuel consumption                                                   17929 non-null  object
 5   Emissions from gas fuel consumption                                                      17929 non-null  object
 6   Emissions from cement production                                                         17929 non-null  object
 7   Emissions from gas flaring                                                               17929 non-null  object
 8   Per capita CO2 emissions (metric tons of carbon)                                         17929 non-null  object
 9   Emissions from bunker fuels (not included in the totals)                                 17929 non-null  object
dtypes: object(10)
memory usage: 2.0+ MB

In [15]:
Emission_DF.drop(Emission_DF.index[0], inplace=True)

In [16]:
#Capitalizing the values in 'Nation' columns
Emission_DF['Nation'] = [x.upper() for x in Emission_DF['Nation']]
Emission_DF['Nation']

4        AFGHANISTAN
5        AFGHANISTAN
6        AFGHANISTAN
7        AFGHANISTAN
8        AFGHANISTAN
             ...
17927       ZIMBABWE
17928       ZIMBABWE
17929       ZIMBABWE
17930       ZIMBABWE
17931       ZIMBABWE
Name: Nation, Length: 17928, dtype: object

In [17]:
Emission_DF['Nation'] = [x.strip() for x in Emission_DF['Nation']]

In [18]:
#Checking if the Philippines have record in the dataframe
Emission_DF[Emission_DF['Nation'] == 'PHILIPPINES']

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
12317,PHILIPPINES,1907,2,2,0,0,0,.,.,0
12318,PHILIPPINES,1908,5,5,0,0,0,.,.,0
12319,PHILIPPINES,1909,15,15,0,0,0,.,.,0
12320,PHILIPPINES,1910,14,14,0,0,0,.,.,0
12321,PHILIPPINES,1911,10,10,0,0,0,.,.,0
...,...,...,...,...,...,...,...,...,...,...
12420,PHILIPPINES,2013,26274,10924,11276,1839,2235,0,0.27,1096
12421,PHILIPPINES,2014,27738,11662,11794,1934,2348,0,0.28,981
12422,PHILIPPINES,2015,30730,12669,13608,1818,2636,0,0.3,1077
12423,PHILIPPINES,2016,33473,14052,14615,2083,2723,0,0.32,1167
12424,PHILIPPINES,2017,36915,16821,15226,2055,2813,0,0.35,1455

In [19]:
#CREATING A DATAFRAME FOR 'PHILIPPINES'

PH_Emission_DF = Emission_DF[Emission_DF['Nation'] == 'PHILIPPINES']
PH_Emission_DF

,Nation,Year,Total CO2 emissions from fossil-fuels and cement production (thousand metric tons of C),Emissions from solid fuel consumption,Emissions from liquid fuel consumption,Emissions from gas fuel consumption,Emissions from cement production,Emissions from gas flaring,Per capita CO2 emissions (metric tons of carbon),Emissions from bunker fuels (not included in the totals)
12317,PHILIPPINES,1907,2,2,0,0,0,.,.,0
12318,PHILIPPINES,1908,5,5,0,0,0,.,.,0
12319,PHILIPPINES,1909,15,15,0,0,0,.,.,0
12320,PHILIPPINES,1910,14,14,0,0,0,.,.,0
12321,PHILIPPINES,1911,10,10,0,0,0,.,.,0
...,...,...,...,...,...,...,...,...,...,...
12420,PHILIPPINES,2013,26274,10924,11276,1839,2235,0,0.27,1096
12421,PHILIPPINES,2014,27738,11662,11794,1934,2348,0,0.28,981
12422,PHILIPPINES,2015,30730,12669,13608,1818,2636,0,0.3,1077
12423,PHILIPPINES,2016,33473,14052,14615,2083,2723,0,0.32,1167
12424,PHILIPPINES,2017,36915,16821,15226,2055,2813,0,0.35,1455