In [34]:
import pandas as pd

In [35]:
FoodWaste_DF = pd.read_csv('FoodWaste.csv')
FoodWaste_DF.head(10)

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes
0,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2009,5.22,5.22%,68100,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
1,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2008,5.43,5.43%,65240,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
2,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2007,5.61,5.61%,61080,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
3,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2006,5.40,5.4%,55270,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
4,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2005,5.00,5%,51970,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
5,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2004,5.00,5%,47310,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
6,104,Myanmar,NaN,0142,"Groundnuts, excluding shelled",2003,5.00,5%,43880,NaN,Whole supply chain,NaN,NaN,NaN,FAO's annual Agriculture Production Questionna...,FAO Sources,NaN,NaN
7,108,Burundi,NaN,0111,Wheat,2020,3.50,3.5,NaN,"Shelling, Threshing",Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/page/20/data-tables#...,NaN
8,108,Burundi,NaN,0111,Wheat,2020,4.87,4.87,NaN,Storage,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/page/20/data-tables#...,NaN
9,108,Burundi,NaN,0111,Wheat,2020,2.50,2.5,NaN,Transportation,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/page/20/data-tables#...,NaN

In [36]:
FoodWaste_DF.shape

(27653, 18)

In [37]:
FoodWaste_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27653 entries, 0 to 27652
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   m49_code                  27653 non-null  int64
 1   country                   27653 non-null  object
 2   region                    793 non-null    object
 3   cpc_code                  27653 non-null  object
 4   commodity                 27653 non-null  object
 5   year                      27653 non-null  int64
 6   loss_percentage           27653 non-null  float64
 7   loss_percentage_original  27653 non-null  object
 8   loss_quantity             4552 non-null   object
 9   activity                  20788 non-null  object
 10  food_supply_stage         27604 non-null  object
 11  treatment                 793 non-null    object
 12  cause_of_loss             870 non-null    object
 13  sample_size               1176 non-null   object
 14  method_data_collection    27298 non-null  object
 15  reference                 8316 non-null   object
 16  url                       21158 non-null  object
 17  notes                     1230 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 3.8+ MB

Many columns does not provide useful insights so we will drop those columns

In [38]:
#Deleting unnecessary records
cols_to_drop = ['m49_code', 'region', 'cpc_code', 'sample_size', 'method_data_collection','reference', 'url', 'notes' ]
FoodWaste_DF.drop(columns=cols_to_drop, inplace=True)

In [39]:
FoodWaste_DF.head(10)

,country,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss
0,Myanmar,"Groundnuts, excluding shelled",2009,5.22,5.22%,68100,NaN,Whole supply chain,NaN,NaN
1,Myanmar,"Groundnuts, excluding shelled",2008,5.43,5.43%,65240,NaN,Whole supply chain,NaN,NaN
2,Myanmar,"Groundnuts, excluding shelled",2007,5.61,5.61%,61080,NaN,Whole supply chain,NaN,NaN
3,Myanmar,"Groundnuts, excluding shelled",2006,5.40,5.4%,55270,NaN,Whole supply chain,NaN,NaN
4,Myanmar,"Groundnuts, excluding shelled",2005,5.00,5%,51970,NaN,Whole supply chain,NaN,NaN
5,Myanmar,"Groundnuts, excluding shelled",2004,5.00,5%,47310,NaN,Whole supply chain,NaN,NaN
6,Myanmar,"Groundnuts, excluding shelled",2003,5.00,5%,43880,NaN,Whole supply chain,NaN,NaN
7,Burundi,Wheat,2020,3.50,3.5,NaN,"Shelling, Threshing",Farm,NaN,NaN
8,Burundi,Wheat,2020,4.87,4.87,NaN,Storage,Farm,NaN,NaN
9,Burundi,Wheat,2020,2.50,2.5,NaN,Transportation,Farm,NaN,NaN

In [40]:
#Converting Columns to uppercase
FoodWaste_DF.columns = [x.upper() for x in FoodWaste_DF.columns]
FoodWaste_DF.head()

,COUNTRY,COMMODITY,YEAR,LOSS_PERCENTAGE,LOSS_PERCENTAGE_ORIGINAL,LOSS_QUANTITY,ACTIVITY,FOOD_SUPPLY_STAGE,TREATMENT,CAUSE_OF_LOSS
0,Myanmar,"Groundnuts, excluding shelled",2009,5.22,5.22%,68100,NaN,Whole supply chain,NaN,NaN
1,Myanmar,"Groundnuts, excluding shelled",2008,5.43,5.43%,65240,NaN,Whole supply chain,NaN,NaN
2,Myanmar,"Groundnuts, excluding shelled",2007,5.61,5.61%,61080,NaN,Whole supply chain,NaN,NaN
3,Myanmar,"Groundnuts, excluding shelled",2006,5.40,5.4%,55270,NaN,Whole supply chain,NaN,NaN
4,Myanmar,"Groundnuts, excluding shelled",2005,5.00,5%,51970,NaN,Whole supply chain,NaN,NaN

In [41]:
FoodWaste_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27653 entries, 0 to 27652
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   COUNTRY                   27653 non-null  object
 1   COMMODITY                 27653 non-null  object
 2   YEAR                      27653 non-null  int64
 3   LOSS_PERCENTAGE           27653 non-null  float64
 4   LOSS_PERCENTAGE_ORIGINAL  27653 non-null  object
 5   LOSS_QUANTITY             4552 non-null   object
 6   ACTIVITY                  20788 non-null  object
 7   FOOD_SUPPLY_STAGE         27604 non-null  object
 8   TREATMENT                 793 non-null    object
 9   CAUSE_OF_LOSS             870 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.1+ MB

In [42]:
#Looking for different countries
FoodWaste_DF['COUNTRY'].unique()

array(['Myanmar', 'Burundi', 'Western Africa', 'Belarus', 'Cambodia',
       'Algeria', 'Cameroon', 'Canada', 'Central Asia', 'Sri Lanka',
       'Western Asia', 'Chad', 'Northern Africa', 'Europe', 'Chile',
       'China', 'China,Taiwan', 'Colombia',
       'Democratic Republic of the Congo', 'Costa Rica', 'Cuba', 'Africa',
       'Sub-Saharan Africa', 'Benin', 'Denmark', 'Northern America',
       'Ecuador', 'El Salvador', 'Ethiopia', 'Eritrea', 'Estonia',
       'Angola', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia',
       'Gambia', 'Germany', 'Ghana', 'Azerbaijan', 'Argentina',
       'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Southern Asia',
       'Honduras', 'Hungary', 'South-Eastern Asia', 'India', 'Australia',
       'Indonesia', 'Iran (Islamic Republic of)', 'Ireland', 'Israel',
       'Italy', "CÃ´te d'Ivoire", 'Jamaica', 'Japan', 'Kazakhstan',
       'Afghanistan', 'Austria', 'Jordan', 'Kenya',
       "Democratic People's Republic of Korea", 'Republic of Korea',
       'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latin America and the Caribbean', 'Lesotho', 'Latvia', 'Liberia',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Mali', 'Mauritania', 'Bahrain', 'Mauritius', 'Mexico', 'Mongolia',
       'Bangladesh', 'Mozambique', 'Armenia', 'Oman', 'Namibia', 'Nepal',
       'Netherlands', 'Australia and New Zealand', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Belgium', 'Niger', 'Nigeria',
       'Norway', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Guinea-Bissau', 'Timor-Leste', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Bolivia (Plurinational State of)', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Sierra Leone', 'Slovakia', 'Viet Nam',
       'Somalia', 'South Africa', 'Zimbabwe', 'Botswana', 'Spain',
       'South Sudan', 'Sudan', 'Eswatini', 'Sweden', 'Switzerland',
       'Brazil', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Turkey', 'Uganda', 'Ukraine',
       'The former Yugoslav Republic of Macedonia', 'Egypt',
       'United Kingdom',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Burkina Faso', 'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Zambia'], dtype=object)

In [43]:
#South East Asian Countries records
SEA_Countries = ['Indonesia', 'Timor Leste', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'Cmabodia', 'Laos', 'Thailand', 'Vietname']
SEA_Countries_FoodWaste = FoodWaste_DF.loc[FoodWaste_DF['COUNTRY'].isin(SEA_Countries)]
SEA_Countries_FoodWaste.head()

,COUNTRY,COMMODITY,YEAR,LOSS_PERCENTAGE,LOSS_PERCENTAGE_ORIGINAL,LOSS_QUANTITY,ACTIVITY,FOOD_SUPPLY_STAGE,TREATMENT,CAUSE_OF_LOSS
0,Myanmar,"Groundnuts, excluding shelled",2009,5.22,5.22%,68100,NaN,Whole supply chain,NaN,NaN
1,Myanmar,"Groundnuts, excluding shelled",2008,5.43,5.43%,65240,NaN,Whole supply chain,NaN,NaN
2,Myanmar,"Groundnuts, excluding shelled",2007,5.61,5.61%,61080,NaN,Whole supply chain,NaN,NaN
3,Myanmar,"Groundnuts, excluding shelled",2006,5.40,5.4%,55270,NaN,Whole supply chain,NaN,NaN
4,Myanmar,"Groundnuts, excluding shelled",2005,5.00,5%,51970,NaN,Whole supply chain,NaN,NaN

In [44]:
SEA_Countries_FoodWaste.isna().sum()

COUNTRY                      0
COMMODITY                    0
YEAR                         0
LOSS_PERCENTAGE              0
LOSS_PERCENTAGE_ORIGINAL     0
LOSS_QUANTITY               72
ACTIVITY                    70
FOOD_SUPPLY_STAGE            3
TREATMENT                   97
CAUSE_OF_LOSS               82
dtype: int64

In [45]:
SEA_Countries_FoodWaste.fillna(0, inplace=True)

c:\Users\user\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [46]:
x = SEA_Countries_FoodWaste.groupby('COUNTRY')
x.first()

,COMMODITY,YEAR,LOSS_PERCENTAGE,LOSS_PERCENTAGE_ORIGINAL,LOSS_QUANTITY,ACTIVITY,FOOD_SUPPLY_STAGE,TREATMENT,CAUSE_OF_LOSS
COUNTRY,,,,,,,,,
Indonesia,Maize (corn),2018,4.29,4.29%,1298000,0,Whole supply chain,0,0
Malaysia,Rice,2010,9.00,5 -13%,0,Threshing,Farm,0,0
Myanmar,"Groundnuts, excluding shelled",2009,5.22,5.22%,68100,0,Whole supply chain,0,0
Philippines,Rice,2014,12.00,12%,0,"Handling, Storage",Storage,0,0
Thailand,"Cassava, fresh",2014,0.01,0.01,1186,"Handling, Trading, Transportation",Transport,Starch,0